
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
        <title th:text="#{title.home}"></title>
    </head>
    <body>
        <div class="container">

            <h1 th:text="#{cidade.list}" class="page-header"></h1>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th th:text="#{cidade.id}"/>
                        <th th:text="#{cidade.nome}"/>
                        <th th:text="#{cidade.uf}"/>
                        <th th:text="#{table.edit}"/>
                        <th th:text="#{table.delete}"/>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p : ${cidades}">
                        <td th:text="${p.id}">ID</td>
                        <td th:text="${p.nome}">NOME</td>
                        <td th:text="${p.uf}">UF</td>
                        <td>
                            <a th:href="@{'/cidade/editar?id=' + ${p.id}}" th:text="#{table.edit}"></a>
                        </td>
                        <td>
                            <a th:attr="data-id=${p.id}" th:text="#{table.delete}"></a>
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>

<script>
    $("tbody tr td:last-child a").click(function(){
        var tr = $(this).parents('tr:first'),
            id = $(this).attr('data-id');
            
        $.ajax({
            url: 'deletar',
            data: {id:id},
            type: "POST",
            success: function() {
                tr.remove();
            },
            error: function(){
                alert("Erro ao deletar");
            }
        });
    });
</script>