
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Não Encontrado</title>
</head>
<body>
    <h2> Arquivo não encontrado </h2>
</body>
</html>
