@model CdZ.MVC.Models.GolpeViewModel

<div class="form-group">
    <label class="control-label col-md-2" for="Golpe">Golpes</label>
    <div class="col-md-10 golpes">
        @Html.Hidden("idGolpe", Model.Id)
        @Html.EditorFor(x => x.Nome, null, "golpe")
    </div>
</div>