<style>
    .erro {
        color: red;
    }
</style>

<h3>Listagem de cavaleiros</h3>
@Html.ActionLink("Cadastrar Cavaleiro", "Cadastrar", "Cavaleiro")
<ul id="cavaleiros"></ul>
<div id="feedback"></div>

@section scripts {
    <script src="~/Scripts/Notifications/Cavaleiro.js"></script>
    <script src="~/Scripts/Views/Cavaleiro/Index.js"></script>
}