<style>
    .erro {
        color: red;
    }
</style>

<h3>Listagem de cavaleiros</h3>
@Html.ActionLink("Cadastrar Cavaleiro", "Cadastrar", "Cavaleiro")
<ul id="cavaleiros"></ul>
<div id="feedback"></div>

<div style="display:none" id="dialog">
    <table>
        <tr>
            <th>Id:</th>
            <td id="d_id"></td>
        </tr>
        <tr>
            <th>Nome:</th>
            <td id="d_nome"></td>
        </tr>
        <tr>
            <th>Peso:</th>
            <td id="d_peso"></td>
        </tr>
        <tr>
            <th>Altura:</th>
            <td id="d_altura"></td>
        </tr>
        <tr>
            <th>Data Nascimento:</th>
            <td id="d_nascimento"></td>
        </tr>
        <tr>
            <th>Signo:</th>
            <td id="d_signo"></td>
        </tr>
        <tr>
            <th>Tipo Sanguíneo:</th>
            <td id="d_tipo_sanguineo"></td>
        </tr>
        <tr>
            <th>Local Nascimento:</th>
            <td id="d_local_nascimento"></td>
        </tr>
        <tr>
            <th>Local Treinamento:</th>
            <td id="d_local_treinamento"></td>
        </tr>
        <tr>
            <th>Golpes:</th>
            <td id="d_golpes"></td>
        </tr>
        <tr>
            <th>Imagens:</th>
            <td id="d_imagens"></td>
        </tr>
    </table>
</div>

@section scripts {
    <script src="~/Scripts/Notifications/Cavaleiro.js"></script>
    <script src="~/Scripts/Views/Cavaleiro/Index.js"></script>
}