@{
    ViewBag.Title = "Listagem Cavaleiros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/Notifications/Cavaleiro.js"></script>
    <script src="~/Scripts/Views/Cavaleiro/listagem.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Custom/listagem-cavaleiros.css" rel="stylesheet" />
}

<h3>
    Listagem de cavaleiros
    <a href="@Url.Action("Cadastrar", "Cavaleiro")"> <i class="fa fa-plus-circle" aria-hidden="true"></i> </a>
</h3>

@Html.Action("List")

<ul id="cavaleiros"></ul>

<div style="display:none" id="dialog">
    <table>
        <tr>
            <th>Id:</th>
            <td id="d_id"></td>
        </tr>
        <tr>
            <th>Nome:</th>
            <td id="d_nome"></td>
        </tr>
        <tr>
            <th>Peso:</th>
            <td id="d_peso"></td>
        </tr>
        <tr>
            <th>Altura:</th>
            <td id="d_altura"></td>
        </tr>
        <tr>
            <th>Data Nascimento:</th>
            <td id="d_nascimento"></td>
        </tr>
        <tr>
            <th>Signo:</th>
            <td id="d_signo"></td>
        </tr>
        <tr>
            <th>Tipo Sanguíneo:</th>
            <td id="d_tipo_sanguineo"></td>
        </tr>
        <tr>
            <th>Local Nascimento:</th>
            <td id="d_local_nascimento"></td>
        </tr>
        <tr>
            <th>Local Treinamento:</th>
            <td id="d_local_treinamento"></td>
        </tr>
        <tr>
            <th>Golpes:</th>
            <td id="d_golpes"></td>
        </tr>
        <tr>
            <th>Imagens:</th>
            <td id="d_imagens"></td>
        </tr>
    </table>
</div>