.container {
    padding: 25px;
}

.iconesGerenciador i {
    font-size:18px;
}

#iconeCadastrar {
     font-size:32px;
}

#relogioUrgente {
    color: red;
    font-size:22px;
}

#listagemPedidos tr:first-child th {
   text-align:center;
   font-size: 22px;
}

#cadastroPedido {
    text-align: right;
}

.pesquisaPedidos {
    text-align:center;
    margin-bottom: 10px;
}

.pesquisaPedidos label, .pesquisaPedidos input {
    margin-right: 5px;

}