
@{
    Layout = "~/Views/Spotify/_Shared.cshtml";
}

@section scripts{
    <script src="~/Scripts/custom/ConsultaEcletica.js"></script>
}

@Html.ActionLink("Listagem Iron Maiden", "DonzelaDeFerro", "Spotify")

<div> 
    <label>Digite o nome do artista:</label>
    <input type="text" id="artista-nome" name="artista-nome" />
    <button  id="pesquisar-artista"> Pesquisar</button>
</div>

<ul id="albuns"></ul>

<span id="erro-albuns"></span>

