
@{
    Layout = "~/Views/Spotify/_Shared.cshtml";
}

@section scripts{
    <script src="~/Scripts/custom/DonzelaDeFerro.js"></script> 
}

@Html.ActionLink("Pesquisar Álbum", "ConsultaEcletica", "Spotify")

<ul id="albuns"></ul>
<span style="display:none" id="erro-albuns">Erro ao buscar albuns</span>
