
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>donzelaDeFerro</title>
</head>
<body>
    <ul id="albuns"></ul>
    <span style="display:none" id="erro-albuns">Erro ao buscar albuns</span>
</body>
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/custom/SpotifyHelper.js"></script>
<script src="~/Scripts/custom/DonzelaDeFerro.js"></script>
</html>
